
body 
    { background-color: black;
  font-size: 20%;
  color: #ff9c33;
        font-style: bookman old style; 
}

h1 { background-color: black;
  color: #ff9c33;
    font-style: broadway;
    font-size: 20%; 
}
